//Card styles
@mixin linear_border {
  border-top: 30px solid;
  border-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%) 30) ;
}
@mixin card_border {
  border-top: 3px solid;
}
// create a mixin for the social media cards 
@mixin dashboard_card {
  height: 190px;
  width: 276px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: $paleBlue;
  
}
// a mixin for overview card 
@mixin overview_card {
  width: 276px;
  border-radius: 5px;
  background-color: $paleBlue;
  margin-bottom: 20px;
}
//styling the content of the overview card
@mixin overview_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}
// mixin for the styling of the content 
@mixin flex_center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

// Social media increase and decrease 
@mixin decreased {
  color: $brightRed;
  font-size: $fontSize10;
  font-weight: $boldWeights;
} 

@mixin increased {
  color: $limeGreen;
  font-size: $fontSize10;
  font-weight: $boldWeights;
}

//Grid Layout for cards 
@mixin column_grid {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-content: center;
  align-items: center;
}