//General styles 
@mixin subheader_desktop_tablet_styles {
  font-size: $fontSize12;
  margin-top: 5px;
}
@mixin desktop_hr_style {
  display: none;
}
@mixin mobile_hr_style {
  border: 0;
  height: 1px;
  background: var(--secondary-color);
}
//Gradient styles 
@mixin gradient_background($direction, $instagram){
  color:linear-gradient($direction, $instagram);
}
@mixin linear_gradient_border($direction, $instagram) {
  // border-top: 30px solid;
  // border-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%) 30) ;
  border-image: linear-gradient($direction, $instagram);
  border-top: 3px solid;
  
}
//Card styles
@mixin card_border {
  border-top: 3px solid;
}
// social media card specific styles 
@mixin dashboard_card {
  height: 200px;
  width: $cardWidth;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: var(--card-background);
  color: var(--primary-color);
  
}
// overview card specific styles 
@mixin overview_card {
  width: $cardWidth;
  border-radius: $borderRadius;
  background-color: var(--card-background);
  margin-bottom: $cardMargin;
  color: var(--primary-color);
  place-self: center;
  
}
@mixin overview_card_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}
@mixin overview_card_display_grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(8,1fr);
  justify-content: center;
  align-content: center;
}
@mixin overview-percent {
  margin-bottom: 0;
  margin-top: 36px;
}
// mixin for the styling of the content 
@mixin flex_center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

// Social media cards increase and decrease 
@mixin decreased {
  color: $brightRed;
  font-size: $fontSize10;
  font-weight: $boldWeights;
} 
@mixin increased {
  color: $limeGreen;
  font-size: $fontSize10;
  font-weight: $boldWeights;
}
@mixin increase_arrow {
  vertical-align: sub;
  padding-right: 3px;
}
@mixin decrease_arrow {
  vertical-align: text-top;
  padding-right: 3px;
}

//Social dashboard card media query layouts
@mixin one_column_grid {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-content: center;
  align-items: center;
}
@mixin double_column_grid {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  justify-content: center;
  align-items: center;
  justify-items: center;
}
@mixin four_column_grid {
  display: grid;
  grid-template-columns: repeat(4, 265px);
  justify-content: center;
  align-items: center;
  justify-items: center;
}
//Overview card media query layouts
@mixin overview_tablet_grid {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(5,1fr);
  justify-content: center;

}
@mixin overview_desktop_grid {
  display: grid;
  grid-template-columns: repeat(4, 265px);
  grid-template-rows: repeat(3,1fr);
  justify-content: center;
}

//Toggle styles
@mixin toggle-flexend {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 30px;
}
@mixin toggle_btn { 
  appearance: none;
  outline: none;
  width: 40px;
  border-radius: 10px;
  height: 20px;
  background-color: $twitter;
  position: relative;
}
@mixin toggler {
  content: "";
  height: 16px;
  width: 16px;
  background-color: navy;
  position: absolute; 
  border-radius: 50px;
  top:2px;
  left: 2px;
  
}