@import './variables' ;
@import './mixins' ;
@import 'scss/fontawesome.scss';
@import 'scss/solid.scss';
@import 'scss/brands.scss'; 
@import './breakpoint.scss';

:root{
  --page-background: #{$whiteBackGround};
  --card-background: #{$paleBlue};
  --toggle-background: #{$lightToggle};
  --primary-color: #{$darkBlueFont};
  --secondary-color: #{$darkGrayFont};
  --facebook-color: #{$faceBook};
  --twitter-color: #{$twitter};
  --instagram-color: #{$hotPink};
  --youtube-color: #{$youTube};
  --increase-color: #{$limeGreen};
  --decrease-color: #{$brightRed};
}

.dark {
  --page-background: #{$darkBackGround};
  --card-background: #{$darkThemeCard};
  --toggle-background: #{$darkToggle};
  --primary-color: #{$whiteFont};
  --secondary-color: #{$blueFont};
  
}

body {
  font-family: $fontFamily;
  background-color: var(--page-background);

  h1,h2,h3,h4 {
    margin: 0;
  }
  .fa-facebook-square {
    color: var(--facebook-color);
  }
  .fa-twitter {
    color: var(--twitter-color);
  }
  .fa-instagram {
    @include gradient_background(left,$instagram);
  }
  .fa-youtube-square {
    color: var(--youtube-color);
  }

  p > .increase {
    vertical-align: text-top;
  }
}


header {
  margin-top: 35px;
  padding: $paddingLeftRight;

  .main-header{
    color: var(--primary-color);
  }
  .sub-header {
    color: var(--secondary-color);
  }
  @include media("<=phone") {
    .main-header {
      font-size: 20px;
    }
    .sub-header {
      font-size: $fontSize10;
      margin-top: 4px;
      margin-bottom: 20px;
    }
    
  }
}
hr{
  margin-bottom: 0;
}
.toggle-container{
  @include toggle_flexend;
  padding: 0 9px;

  input {
    @include toggle_btn;
  }
  input:before {
    @include toggler;

  }
  input:checked {
    background-color: var(--toggle-background);
    
  }
  input:checked:before {
    transform: translate(115%);
  }
  .toggle {
    color: var(--secondary-color); 
    font-size: $fontSize10;
    font-weight: $boldWeights;
  }
}

//social dashboard 
.social-dash {
  //media query goes here 
  @media(max-width: $mobileBreakPoint) {
    @include one_column_grid;
  }
  @media(min-width: $smallTabletBreakPoint) and (max-width: $largerTabletBreakPoint){
    margin-bottom: 50px;
    @include double_column_grid;
  }
  @media(min-width: $ipadProBreakpoint) and (max-width: $desktopBreakpoint) {
    @include four_column_grid;
  }


  .card1 {
    @include card_border;
    border-color: var(--facebook-color);
  }
  .card2 {
    @include card_border;
    border-color: var(--twitter-color);
  }
  .card3 {
    @include card_border;
    border-color: var(--instagram-color)
  }
  .card4 {
    @include card_border;
    border-color: var(--youtube-color);
  }


  .dashboard-card {
    @include dashboard_card;
    @include flex_center;
    

    h4 {
      font-size: $fontSize12;
      padding-top: 13px;
      i {
        vertical-align: sub;
        padding-right: 6px;
      }
    }
    .follower-count {
      font-size: 50px;
      font-weight: $boldWeights;
      margin: $marginZero;
      margin-top: 15px;
    }
    .count-header {
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 11px;
      margin: $marginZero;
    }
    .count-for-day {
      font-size: $fontSize10;
      margin: $marginZero;
      padding-top: 25px;
    }
    .increase { 
      @include increased;

      i {
        @include increase_arrow;
      }
      
    }
    .decrease {
      @include decreased;

      i {
        @include decrease_arrow;
      }
    }

  }
}



//overview dashboard general styles 
.overview-container{

  .overview-header{
      color: var(--primary-color);
      margin-top: 18px;
      margin-bottom: 25px;
  }
  
  
  //media query goes here 
    @media(max-width: $mobileBreakPoint) {
      @include one_column_grid;
    }
    @media(min-width: $smallTabletBreakPoint) and (max-width: $largerTabletBreakPoint) {
      @include double_column_grid;
    }

    .overview-card {
    @include overview_card;
    @include overview_grid;
  
    .overview-card-title {
      font-size: $fontSize10;
      font-weight: $boldWeights;
      color: var(--secondary-color);
      letter-spacing: 0.5px;
    }
    .overview-count {
      font-weight: $boldWeights;
      font-size: 27px;
    }
    .overview-percent {
      @include overview-percent;
    }
    .increase { 
      @include increased;
        
      i {
          @include increase_arrow;
      }
    }
    .decrease {
      @include decreased;
  
      i{
          @include decrease_arrow;
      }
    }
    .column1{
      padding-top: 25px;
      padding-left: 25px;
    }
    .column2 {
      padding-top: 25px;
      padding-right: 25px;
      text-align: end;
    }
  }
}
 

.attribution {
  color: var(--primary-color);

  .footer-links {
    color: var(--secondary-color);
  }
}

