@import './variables' ;
@import './mixins' ;
@import 'scss/fontawesome.scss';
@import 'scss/solid.scss';
@import 'scss/brands.scss'; 
@import './breakpoint.scss';

:root{
  --page-background: #{$whiteBackGround};
  --card-background: #{$paleBlue};
  --toggle-background: #{$lightToggle};
  --primary-color: #{$darkBlueFont};
  --secondary-color: #{$darkGrayFont};
  --facebook-color: #{$faceBook};
  --twitter-color: #{$twitter};
  --instagram-color: #{$hotPink};
  --youtube-color: #{$youTube};
  --increase-color: #{$limeGreen};
  --decrease-color: #{$brightRed};
}

.dark {
  --page-background: #{$darkBackGround};
  --card-background: #{$darkThemeCard};
  --toggle-background: #{$darkToggle};
  --primary-color: #{$whiteFont};
  --secondary-color: #{$blueFont};
  
}

body {
  font-family: $fontFamily;
  background-color: var(--page-background);

  h1,h2,h3,h4 {
    margin: 0;
  }
  .fa-facebook-square {
    color: var(--facebook-color);
  }
  .fa-twitter {
    color: var(--twitter-color);
  }
  .fa-instagram {
    color: var(--instagram-color);
  }
  .fa-youtube-square {
    color: var(--youtube-color);
  }

  p > .increase {
    vertical-align: text-top;
  }
}


header {
  margin-top: 35px;
  padding: $paddingLeftRight;

  .main-header{
    color: var(--primary-color);
  }
  .sub-header {
    color: var(--secondary-color);
  }
  hr{
    @include mobile_hr_style;
    
  }
  .toggle-container{
    @include toggle_flexend;
    padding: 0 12px;
    
    input {
      @include toggle_btn;
    }
    input:before {
      @include toggler;
      
    }
    input:checked {
      background-color: var(--toggle-background);
      
    }
    input:checked:before {
      transform: translate(115%);
    }
    .toggle {
      color: var(--secondary-color); 
      font-size: $fontSize12;
      font-weight: $boldWeights;
      margin-top: 7px;
    }
    
  }
  @media(max-width: $mobileBreakPoint) {
    .main-header {
      font-size: 20px;
    }
    .sub-header {
      font-size: $fontSize12;
      margin-top: 3px;
      margin-bottom: 20px;
    }
  }
  @media(min-width: $smallTabletBreakPoint) and (max-width: $largerTabletBreakPoint){
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
    
    .main-header {
      font-size: $fontSize22;
      letter-spacing: 0.75px;
    }
    .sub-header {
      @include subheader_desktop_tablet_styles;
    }
    .decorative-breakline {
      @include desktop_hr_style;
    }
    .toggle-container {
      justify-content: flex-end;
      padding: 0;
      .toggler-btn {
        margin-left: 10px;
      }
    } 
  }
  @media(min-width: $ipadProBreakpoint) and (max-width: $desktopBreakpoint) {
    .main-header {
      font-size: $fontSize22;
      letter-spacing: 0.75px;
    }
    .sub-header{
      @include subheader_desktop_tablet_styles;
    }
    .decorative-breakline{
      @include desktop_hr_style;
    }
  }
}

//social dashboard 
.social-dash { 
  
  
  .card1 {
    @include card_border;
    border-color: var(--facebook-color);
  }
  .card2 {
    @include card_border;
    border-color: var(--twitter-color);
  }
  .card3 {
    @include card_border;
    border-color: var(--instagram-color)
  }
  .card4 {
    @include card_border;
    border-color: var(--youtube-color);
    margin-right: 0px;
  }
  
  
  .dashboard-card {
    @include dashboard_card;
    @include flex_center;
    
    @media(min-width: $smallTabletBreakPoint) and (max-width: $desktopBreakpoint) {
      width: $tabletDesktopCardWidth;
    }
    
    h4 {
      font-size: $fontSize10;
      padding-top: 13px;
      color: var(--secondary-color);
      i {
        vertical-align: sub;
        padding-right: 6px;
      }
    }
    .follower-count {
      font-size: 50px;
      font-weight: $boldWeights;
      margin: $marginZero;
      margin-top: 15px;
    }
    .count-header {
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 11px;
      margin: $marginZero;
      color: var(--secondary-color);
    }
    .count-for-day {
      font-size: $fontSize10;
      margin: $marginZero;
      padding-top: 25px;
    }
    .increase { 
      @include increased;
      
      i {
        @include increase_arrow;
      }
      
    }
    .decrease {
      @include decreased;
      
      i {
        @include decrease_arrow;
      }
    }
    
  }
  @media(max-width: $mobileBreakPoint) {
    @include one_column_grid;
  }
  @media(min-width: $smallTabletBreakPoint) and (max-width: $largerTabletBreakPoint){
    margin-bottom: 50px;
    @include double_column_grid;
  }
  @media(min-width: $ipadProBreakpoint) and (max-width: $desktopBreakpoint) {
    @include four_column_grid;
  }
}



//overview dashboard general styles 
.overview-container{
  .overview-header{
    color: var(--primary-color);
    margin-top: 18px;
  }
  @media(max-width: $mobileBreakPoint) {
    @include overview_card_display_grid;
  }
  @media(min-width: $smallTabletBreakPoint) and (max-width: $largerTabletBreakPoint) {
    @include overview_tablet_grid;
    .overview-header {
      grid-area: 1 / 1 /  1/ span 2;
    }

  }
  @media(min-width: $ipadProBreakpoint) and (max-width: $desktopBreakpoint) {
    @include overview_desktop_grid;
    .overview-header {
        grid-area: 1 / 1 / span 4 / span 4;
    }
  }
  
  .overview-card {
    @include overview_card;
    @include overview_card_grid;
  
    .overview-card-title {
      font-size: $fontSize10;
      font-weight: $boldWeights;
      color: var(--secondary-color);
      letter-spacing: 0.5px;
    }
    .overview-count {
      font-weight: $boldWeights;
      font-size: 27px;
    }
    .overview-percent {
      @include overview-percent;
    }
    .increase { 
      @include increased;
      
      i {
        @include increase_arrow;
      }
    }
    .decrease {
      @include decreased;
      
      i{
        @include decrease_arrow;
      }
    }
    .column1{
      padding-top: 25px;
      padding-left: 25px;
    }
    .column2 {
      padding-top: 25px;
      padding-right: 25px;
      text-align: end;
    }
    @media(min-width: $smallTabletBreakPoint) and (max-width: $desktopBreakpoint) {
      width: $tabletDesktopCardWidth;
    }
  }
}

.attribution {
  color: var(--primary-color);

  .footer-links {
    color: var(--secondary-color);
  }
}

