@import './variables' ;
@import './mixins' ;
@import 'scss/fontawesome.scss';
@import 'scss/solid.scss';
@import 'scss/brands.scss'; 

body {
  font-family: $fontFamily;
}
//social dashboard general styles 
.dashboard-card {

  h4 {
    font-size: $fontSize12;
  }
  .follower-count {
  font-size: 28px;
  font-weight: $boldWeights;
  }

  .count-header {
  text-transform: uppercase;
  letter-spacing: 2.2px;
  font-size: 11px;
  }

  .count-for-day {
  font-size: $fontSize10;
  }
  .increase { 
    @include increased;
  }
  .decrease {
    @include decreased;
  }
}



//overview dashboard general styles 
.overview-card {

  .overview-card-title {
  font-size: $fontSize10;
  font-weight: $boldWeights;
  }
  .overview-count {
    font-weight: $boldWeights;
    font-size: 20px;
  }
  .increase { 
    @include increased;
  }
  .decrease {
    @include decreased;
  }
}


